In [5]:
#importing all library using project
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [6]:
#Data sets
df=pd.read_csv(r"PS_20174392719_1491204439457_log.csv")
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14242,8,PAYMENT,20924.47,C1540995845,18265.0,0.00,M1309313968,0.0,0.0,0.0,0.0
14243,8,CASH_OUT,75244.54,C1827218030,38369.0,0.00,C1292445663,167.0,0.0,0.0,0.0
14244,8,PAYMENT,3074.36,C1632817923,10242.0,7167.64,M2001030591,0.0,0.0,0.0,0.0
14245,8,PAYMENT,11465.21,C1837637612,38.0,0.00,M1222093409,0.0,0.0,0.0,0.0
14246,8,CASH_OUT,71154.12,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#count column
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [8]:
# collecting information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14247 entries, 0 to 14246
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            14247 non-null  int64
 1   type            14247 non-null  object
 2   amount          14247 non-null  float64
 3   nameOrig        14247 non-null  object
 4   oldbalanceOrg   14246 non-null  float64
 5   newbalanceOrig  14246 non-null  float64
 6   nameDest        14246 non-null  object
 7   oldbalanceDest  14246 non-null  float64
 8   newbalanceDest  14246 non-null  float64
 9   isFraud         14246 non-null  float64
 10  isFlaggedFraud  14246 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 1.2+ MB

In [9]:
# unique data
df['step'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
# null values
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [11]:
# type value_count
type=df['type'].value_counts()

In [12]:
#unique value "type"
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [13]:
transaction=type.index

In [14]:
quantity=type.values

# pie chart

In [15]:
#importing library
import plotly.express as px

In [16]:
px.pie(df,values=quantity,names=transaction, hole=0.4, title="distribution of transaction type")

In [17]:
# Replace value word to digit
df.replace(to_replace=['PAYMENT','TRANSFER', 'CASH_OUT','DEBIT','CASH_IN'], value=[2,4,1,5,3],inplace=True)

In [18]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14242,8,2,20924.47,C1540995845,18265.0,0.00,M1309313968,0.0,0.0,0.0,0.0
14243,8,1,75244.54,C1827218030,38369.0,0.00,C1292445663,167.0,0.0,0.0,0.0
14244,8,2,3074.36,C1632817923,10242.0,7167.64,M2001030591,0.0,0.0,0.0,0.0
14245,8,2,11465.21,C1837637612,38.0,0.00,M1222093409,0.0,0.0,0.0,0.0
14246,8,1,71154.12,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#convert value 0= No fraud, 1= fraud
df['isFraud']=df['isFraud'].map({0: 'No fraud',1: 'fraud'})

In [20]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,No fraud,0.0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,No fraud,0.0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,fraud,0.0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,fraud,0.0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,No fraud,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14242,8,2,20924.47,C1540995845,18265.0,0.00,M1309313968,0.0,0.0,No fraud,0.0
14243,8,1,75244.54,C1827218030,38369.0,0.00,C1292445663,167.0,0.0,No fraud,0.0
14244,8,2,3074.36,C1632817923,10242.0,7167.64,M2001030591,0.0,0.0,No fraud,0.0
14245,8,2,11465.21,C1837637612,38.0,0.00,M1222093409,0.0,0.0,No fraud,0.0
14246,8,1,71154.12,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# we need a column
x=df[['type','amount','oldbalanceOrg','newbalanceDest']]

In [22]:
# using iloc function and pass all rows(:)
y=df.iloc[:,-2]

In [23]:
y

0        No fraud
1        No fraud
2           fraud
3           fraud
4        No fraud
           ...
14242    No fraud
14243    No fraud
14244    No fraud
14245    No fraud
14246         NaN
Name: isFraud, Length: 14247, dtype: object

In [24]:
#use model
from sklearn.tree import DecisionTreeClassifier

In [25]:
model= DecisionTreeClassifier()

In [26]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [27]:
#modelfit
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [33]:
#score
model.score(xtest,ytest)

ValueError: ignored

In [30]:
model.predict([[2,9800,170136,160296]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning:

X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names

array(['No fraud'], dtype=object)

In [31]:
x

       type    amount  oldbalanceOrg  newbalanceDest
0         2   9839.64       170136.0             0.0
1         2   1864.28        21249.0             0.0
2         4    181.00          181.0             0.0
3         1    181.00          181.0             0.0
4         2  11668.14        41554.0             0.0
...     ...       ...            ...             ...
14242     2  20924.47        18265.0             0.0
14243     1  75244.54        38369.0             0.0
14244     2   3074.36        10242.0             0.0
14245     2  11465.21           38.0             0.0
14246     1  71154.12            NaN             NaN

[14247 rows x 4 columns]

# saving the trained model

In [32]:
import pickle

In [34]:
filename = "trained_model.sav"
pickle.dump(DecisionTreeClassifier, open(filename, "wb"))

In [35]:
#loading the saved model
loaded_model = pickle.load(open('trained_model.sav', 'rb'))